<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval';">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Cadastro de Usuário</h1>
    <form method="POST" action="/register">
        <label for="username">Nome de Usuário:</label>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="password">Senha:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <input type="submit" value="Registrar">
    </form>
</body>
</html>
